.header {
  background: rgb(255, 255, 255);
  border: 4px, solid rgb(199, 178, 153);
  padding: 20px;
  color: rgb(199, 178, 153);
  text-decoration-color: rgb(199, 178, 153);
  margin:10px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav a {
  text-decoration: none;
}

.nav a.active {
  color: var(--color-primary);
}
